@font-face {
    font-family: 'THSarabunIT9';
    src: url('THSarabunIT๙.eot');
    src: url('THSarabunIT๙.eot') format('embedded-opentype'),
         url('THSarabunIT๙.woff2') format('woff2'),
         url('THSarabunIT๙.woff') format('woff'),
         url('THSarabunIT๙.ttf') format('truetype'),
         url('THSarabunIT๙.svg#THSarabunIT๙') format('svg');
}


@font-face {
    font-family: 'THSarabunIT9_Italic';
    src: url('THSarabunIT๙ Italic.eot');
    src: url('THSarabunIT๙ Italic.eot') format('embedded-opentype'),
         url('THSarabunIT๙ Italic.woff2') format('woff2'),
         url('THSarabunIT๙ Italic.woff') format('woff'),
         url('THSarabunIT๙ Italic.ttf') format('truetype'),
         url('THSarabunIT๙ Italic.svg#THSarabunIT๙ Italic') format('svg');
}


@font-face {
    font-family: 'THSarabunIT9_BoldItalic';
    src: url('THSarabunIT๙ BoldItalic.eot');
    src: url('THSarabunIT๙ BoldItalic.eot') format('embedded-opentype'),
         url('THSarabunIT๙ BoldItalic.woff2') format('woff2'),
         url('THSarabunIT๙ BoldItalic.woff') format('woff'),
         url('THSarabunIT๙ BoldItalic.ttf') format('truetype'),
         url('THSarabunIT๙ BoldItalic.svg#THSarabunIT๙ BoldItalic') format('svg');
}

@font-face {
    font-family: 'THSarabunIT9_Bold';
    src: url('THSarabunIT๙ Bold.eot');
    src: url('THSarabunIT๙ Bold.eot') format('embedded-opentype'),
         url('THSarabunIT๙ Bold.woff2') format('woff2'),
         url('THSarabunIT๙ Bold.woff') format('woff'),
         url('THSarabunIT๙ Bold.ttf') format('truetype'),
         url('THSarabunIT๙ Bold.svg#THSarabunIT๙ Bold') format('svg');
}


@font-face {
    font-family: 'THNiramitAS-IT9_BoldItalic';
    src: url('TH Niramit AS-IT๙ Bold Italic.eot');
    src: url('TH Niramit AS-IT๙ Bold Italic.eot') format('embedded-opentype'),
         url('TH Niramit AS-IT๙ Bold Italic.woff2') format('woff2'),
         url('TH Niramit AS-IT๙ Bold Italic.woff') format('woff'),
         url('TH Niramit AS-IT๙ Bold Italic.ttf') format('truetype'),
         url('TH Niramit AS-IT๙ Bold Italic.svg#TH Niramit AS-IT๙ Bold Italic') format('svg');
}

@font-face {
    font-family: 'THNiramitIT9_Bold';
    src: url('TH NiramitIT๙ Bold.eot');
    src: url('TH NiramitIT๙ Bold.eot') format('embedded-opentype'),
         url('TH NiramitIT๙ Bold.woff2') format('woff2'),
         url('TH NiramitIT๙ Bold.woff') format('woff'),
         url('TH NiramitIT๙ Bold.ttf') format('truetype'),
         url('TH NiramitIT๙ Bold.svg#TH NiramitIT๙ Bold') format('svg');
}


@font-face {
    font-family: 'THNiramitIT9_Italic';
    src: url('TH NiramitIT๙ Italic.eot');
    src: url('TH NiramitIT๙ Italic.eot') format('embedded-opentype'),
         url('TH NiramitIT๙ Italic.woff2') format('woff2'),
         url('TH NiramitIT๙ Italic.woff') format('woff'),
         url('TH NiramitIT๙ Italic.ttf') format('truetype'),
         url('TH NiramitIT๙ Italic.svg#TH NiramitIT๙ Italic') format('svg');
}


@font-face {
    font-family: 'THNiramitIT9';
    src: url('TH NiramitIT๙.eot');
    src: url('TH NiramitIT๙.eot') format('embedded-opentype'),
         url('TH NiramitIT๙.woff2') format('woff2'),
         url('TH NiramitIT๙.woff') format('woff'),
         url('TH NiramitIT๙.ttf') format('truetype'),
         url('TH NiramitIT๙.svg#TH NiramitIT๙') format('svg');
}


@font-face {
	font-family: 'Conv_Tahoma';
	src: url('Tahoma.eot');
	src: local('☺'), url('Tahoma.woff') format('woff'), url('Tahoma.ttf') format('truetype'), url('Tahoma.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Tahoma';
    src: url('Tahoma.woff2') format('woff2'),
        url('Tahoma.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

